<!doctype html>
<div class="row" id="title">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<span class="title" id="className">{{className}}</span>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-alert-box">
		
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Overview</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						{{#if currentGrade}}
							<span id="current-grade">Current grade: {{currentGrade}} %</span>
						{{else}}
							<span id="no-assignments">Add assignments below to calculate your grade. At least one assignment must be graded for us to update your score.</span>
						{{/if}}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						{{#if impossible}}
							<span class="impossible">At your current percentage, you will need extra-credit assignments to acheive your desired grade.</span>
						{{/if}}
						{{#if overacheive}}
						<span class="overacheive">At your current percentage, your grade will not fall below your desired grade.</span>
						{{/if}}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
						<div class="form-inline">
							Desired Grade 
							<div class="input-group">
								<input id="desiredPercentageInput" type="text" class="form-control" name="desiredPercentage" value="{{desiredGrade}}">
								<span class="input-group-addon">%</span>
							</div>
							<a id="updateDesiredPercentageButton" class="btn btn-info btn-block">Update</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
						Assignments		
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<a data-toggle="modal" data-target="#addAssignmentModal" class="btn btn-success btn-block">+</a>
					</div>
				</div>
			</div>
			<div id="allAssignments" class="panel-body">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<u><span>Name</span></u>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<u><span>Weight(%)</span></u>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<u><span>Grade(%)</span></u>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<u><span>Goal(%)</span></u>
					</div>
				</div>
				{{#if assignments}}
				{{#each assignments}}
				<div class="assignment row" assignmentName="{{assignment}}">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<span class="assignmentName" for-assignment="{{assignment}}">{{assignment}}</span>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<span>{{weight}}</span>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<span for-assignment="{{assignment}}" class="grade">{{percentage}}</span>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 goal" for-assignment="{{assignment}}">
								{{#if percentage}}
									<span>Completed</span>
								{{else}}
								<span>{{../../assignmentPercentage}}</span>
								{{/if}}
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<a data-toggle="modal" data-target="#editAssignmentModal{{this._id}}" class="btn btn-info btn-block editAssignmentButton">Edit {{assignment}}</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a class="btn btn-danger deleteAssignmentButton" data-toggle="modal" data-target="#deleteAssignmentModal" for-assignment="{{assignment}}" for-class="{{className}}">Delete</a>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<div class="modal fade" id="deleteAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssignment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssignment">Delete Assignment</h4>
      </div>
      <div class="modal-body">
       	Are you sure you want to delete this assignment? It cannot be undone.
      </div>
      <div class="modal-footer">
        <a id="confirmDeleteAssignmentButton" class="btn btn-success">Yes, Delete</a>
        <a class="btn btn-danger" data-dismiss="modal" aria-label="Close">Back</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="addAssignment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssignment">Add Assignment</h4>
      </div>
      <div class="modal-body">
      <div class="row">
      	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 addassignmentalert-box">
      		
      	</div>
      </div>
       	<form id="addAssignmentForm">
			<div class="input-group">
				<label for="assignmentName">Assignment Name</label>
       			<input id="assignmentName" class="form-control" type="text" name="assignmentName" placeholder="Assignment Name">
			</div>
				<label for="assignmentWeight">Assignment Weight</label>
			<div class="input-group">
   				<input id="assignmentWeightInput" class="form-control" type="text" name="assignmentWeight" placeholder="Assignment Weight">	
				<span class="input-group-addon">%</span>
			</div>
				<label for="assignmentPercentage">Percentage Given (Optional)</label>
			<div class="input-group">
				<input id="assignmentPercentageInput" class="form-control" type="text" name="assignmentPercentage" placeholder="Percentage Given">
				<span class="input-group-addon">%</span>
			</div>
       	</form>
      </div>
      <div class="modal-footer">
       	 <a class="btn btn-success" id="addAssignmentSubmit">Add Assignment</a>
       	 <a class="btn btn-danger" data-dismiss="modal" aria-label="Close">Back</a>
      </div>
    </div>
  </div>
</div>

<div id="allModals">
	{{#if assignments}}
	{{#each assignments}}
	<div class="modal fade" id="editAssignmentModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="editAssignment{{this._id}}" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="editAssignment{{this._id}}">Edit Assignment</h4>
	      </div>
	      <div class="modal-body">
	      <div class="row">
	      	<div for-assignment="{{assignment}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-box">
	      		
	      	</div>
	      </div>
	       	<div class="row">
	       		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		       		<label for="assignmentName">Assignment Name</label>
					<div class="input-group">
		       			<input class="assignmentNameInput form-control" for-assignment="{{assignment}}" type="text" name="assignmentName" placeholder="Assignment Name" value="{{assignment}}">
					</div>
	       		</div>
	       	</div>
	       	<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="assignmentWeightInput">Assignment Weight</label>
					<div class="input-group">
						<input class="assignmentWeightInput form-control" type="text" Placeholder="Assignment Weight" for-assignment="{{assignment}}" for-class="{{className}}" value="{{weight}}">
						<span class="input-group-addon">%</span>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="gradeGivenInput">Percentage Given</label>
					<div class="input-group">
						<input class="gradeGivenInput form-control" type="text" Placeholder="Percentage Given" for-assignment="{{assignment}}" for-class="{{className}}" value="{{percentage}}">
						<span class="input-group-addon">%</span>
					</div>	
				</div>
			</div>	
	      </div>
	      <div class="modal-footer">
	       	 <a class="btn btn-success editAssignmentSubmit" for-assignment="{{assignment}}">Edit Assignment</a>
	       	 <a class="btn btn-danger" data-dismiss="modal" aria-label="Close">Back</a>
	      </div>
	    </div>
	  </div>
	</div>
	{{/each}}
	{{/if}}
</div>

<script>

	var assignmentToBeDeleted;
	var forClass;
	var originalAssignmentName;
	var originalDesiredGrade = $('#desiredPercentageInput').val();

	$('#updateDesiredPercentageButton').click(function(event) {
		$('#desiredPercentageInput').trigger('enterKey');
	});

	function updateButtons() {
		$('.editAssignmentButton').click(function(event) {
			originalAssignmentName = $(this).closest('.assignment').attr('assignmentName');
		});

		$('.editAssignmentSubmit').click(function(event) {

			$('.gradeGivenInput[for-assignment="' + $(this).attr('for-assignment') + '"]').trigger('enterKey');
		});

		$('.deleteAssignmentButton').click(function(event) {
			assignmentToBeDeleted = $(this).attr('for-assignment');
			forClass = $(this).attr('for-class');
		});

		$('.gradeGivenInput').bind("enterKey", function(e) {
			var that = $(this);
		   var percentage = $(this).val();
		   var assignment = $(this).attr('for-assignment');
		   var className = $(this).attr('for-class');
		   var textbox = $(this);
		   var assignmentWeight = $('.assignmentWeightInput[for-assignment="' + assignment + '"]').val();
		   var desiredGrade = $('#desiredPercentageInput').val();
		   var assignmentPercentages = [];
		   var assignmentWeights = [];
		   var newAssignmentName = $('.assignmentNameInput[for-assignment="' + assignment + '"]').val();
		   var emptyPercentage = percentage.trim().length === 0;


		   for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
		   	assignmentWeights.push($('.assignmentWeightInput')[i].value);
		   }

		   for(var i = 0; i < $('.gradeGivenInput').length; i++) {
			assignmentPercentages.push($('.gradeGivenInput')[i].value);
		   }

		   $.post('/updateAssignmentName', { className : className, oldAssignmentName : assignment, newAssignmentName : newAssignmentName }, function(data) {
		   	if(data.ok) {
		   		console.log('Updated assignment Name!');
	   		   $.post('/updateAssignmentPercentage', { className : className, assignmentPercentage: percentage, assignmentName : newAssignmentName }, function(data) {
	   		   	if(data.ok) {
	   		   		console.log('Updated assignment Percentage!');
	   		   		textbox.val(percentage);

	   		   		$.post('/updateAssignmentWeight', { className : className, weight : assignmentWeight, assignmentName : newAssignmentName }, function(data) {
	   		   			if(data.ok) {
	   		   				console.log('Updated assignment weight!');
	   				   		$.post('/updateAssignmentGoal', { className : className, assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {
	   				   			if(data.ok) {
	   				   				var grades = $('.grade');
	   				   				var goals = $('.goal');

	   				   				for(var i = 0; i < grades.length; i++) {
	   				   					if($(grades[i]).text() === '') {
	   				   						$(goals[i]).empty();
	   				   						$(goals[i]).append('<span>' + data.goal + '</span>')
	   				   					}
	   				   				}
	   				   				$('.grade[for-assignment="' + assignment + '"]').text(percentage);
	   				   				$('#current-grade, #no-assignments').text('Current Grade: ' + data.currentGrade + '%');
	   				   				if(emptyPercentage) {
	   				   					$('.goal[for-assignment="' + assignment + '"]').replaceWith('<span>' + data.goal + '</span>')
	   				   				} else {
	   				   					$('.goal[for-assignment="' + assignment + '"]').replaceWith('<span>Completed</span>');
	   				   				}
	   				   				$(that).closest('.modal').modal('hide');
	   				   			} else if(data.err) {
	   				   				$('.alert-box[for-assignment="' + assignment + '"]').prepend('<div class="alert alert-warning alert-dismissible" role="alert">\
	   					        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
	   					      ' + data.err + '\
	   					      </div>');
	   				   			}
	   				   		});
	   		   			} else if(data.err) {
	   				   		$('.alert-box[for-assignment="' + assignment + '"]').prepend('<div class="alert alert-warning alert-dismissible" role="alert">\
	   					        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
	   					      ' + data.err + '\
	   					      </div>');
	   		   			}
	   		   		});
	   		   	} else if(data.err) {
	   		   		$('.alert-box[for-assignment="' + assignment + '"]').prepend('<div class="alert alert-warning alert-dismissible" role="alert">\
	   			        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
	   			      ' + data.err + '\
	   			      </div>');
	   		   	}
	   		   });
		   	} else {
		   		console.log('failed');
		   		$(that).closest('.alert-box').prepend('<div class="alert alert-warning alert-dismissible" role="alert">\
			        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
			      ' + data.err + '\
			      </div>');
		   	}
		   });
		});

		$('#assignmentPercentageInput, #desiredPercentageInput, .gradeGivenInput').keyup(function(e){
		    if(e.keyCode == 13)
		    {
		        $(this).trigger("enterKey");
		    }
		});
	}

	updateButtons();

	$('#confirmDeleteAssignmentButton').click(function(event) {
		var desiredGrade = $('#desiredPercentageInput').val();
	   var assignmentPercentages = [];
	   var assignmentWeights = [];
	   var className = $('#className').text();

	   for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
	   	assignmentWeights.push($('.assignmentWeightInput')[i].value);
	   }

	   for(var i = 0; i < $('.gradeGivenInput').length; i++) {
		assignmentPercentages.push($('.gradeGivenInput')[i].value);
	   }

		$.post('/deleteAssignment', { assignmentName : assignmentToBeDeleted, className : forClass }, function(data) {
			if(data.ok) {
				console.log($('.assignment[assignmentname="' + assignmentToBeDeleted + '"]'));
				$('.assignment[assignmentname="' + assignmentToBeDeleted + '"]').remove();
				if($('.assignment').length === 0) {
					$('#current-grade').replaceWith('<span id="no-assignments">Add assignments below to calculate your grade. At least one assignment must be graded for us to update your score.</span>');
				} else {
					$.post('/updateAssignmentGoal', { className : className, assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {
						var grades = $('.grade');
						var goals = $('.goal');

						for(var i = 0; i < grades.length; i++) {
							if($(grades[i]).text() === '') {
								$(goals[i]).empty();
								$(goals[i]).append('<span>' + data.goal + '</span>')
							}
						}
						if(data.currentGrade)
						$('#current-grade, #no-assignments').text('Current Grade: ' + data.currentGrade + '%');
					});
				}
				$('#deleteAssignmentModal').modal('hide');
			}
		});
	});

	$('#addAssignmentSubmit').click(function(event) {
		var modal = $(this);
		var assignmentFields = [];
		var $input = $('#addAssignmentForm').find(':input').each(function() {
			assignmentFields.push($(this).val());
		});
		var assignmentName = assignmentFields[0];
		var assignmentWeight = assignmentFields[1];
		var assignmentPercentage = assignmentFields[2];
		var className = $('#className').text();
		var desiredGrade = $('#desiredPercentageInput').val();

		$.post('/addAssignment', { className : $('#className').text(),
								   assignmentName : assignmentName,
								   assignmentWeight : assignmentWeight,
								   assignmentPercentage : assignmentPercentage }, function(data) {
			if(data.ok) {
				console.log('added class');
				var assignmentPercentages = [];
			   var assignmentWeights = [];
			   assignmentPercentages.push(assignmentPercentage);
			   assignmentWeights.push(assignmentWeight);

			   for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
			   	assignmentWeights.push($('.assignmentWeightInput')[i].value);
			   }

			   for(var i = 0; i < $('.gradeGivenInput').length; i++) {
				assignmentPercentages.push($('.gradeGivenInput')[i].value);
			   }
				$.post('/updateAssignmentGoal', { className : className, assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {
	   			if(data.ok) {

	   				var goal;
	   				if(data.goal && assignmentPercentage === '') {
	   					goal = data.goal;
	   				} else {
	   					goal = 'Completed'
	   				}
	   				console.log('updated assignment goal');
	   				$('#allAssignments').append('<div assignmentName="' + assignmentName + '" class="row assignment">\
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">\
						<div class="row">\
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">\
								<span>' + assignmentName + '</span>\
							</div>\
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">\
								<span>' + assignmentWeight + '</span>\
							</div>\
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">\
								<span>' + assignmentPercentage + '</span>\
							</div>\
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 goal" for-assignment="' + assignmentName + '">\
								' + goal + '\
							</div>\
						</div>\
						<div class="row">\
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">\
								<a data-toggle="modal" data-target="#editAssignmentModal' + assignmentPercentage + '" class="btn btn-info btn-block">Edit ' + assignmentName + '</a>\
							</div>\
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">\
								<a class="btn btn-danger deleteAssignmentButton" data-toggle="modal" data-target="#deleteAssignmentModal" for-assignment="' + assignmentName + '" for-class="' + className + '">Delete</a>\
							</div>\
						</div>\
					</div>\
				</div>');

				$('#allModals').append('<div class="modal fade" id="editAssignmentModal' + assignmentPercentage + '" tabindex="-1" role="dialog" aria-labelledby="editAssignment' + assignmentPercentage + '" aria-hidden="true">\
	  <div class="modal-dialog">\
	    <div class="modal-content">\
	      <div class="modal-header">\
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
	        <h4 class="modal-title" id="editAssignment' + assignmentPercentage + '">Edit Assignment</h4>\
	      </div>\
	      <div class="modal-body">\
	       		<div class="row">\
	       		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">\
		       		<label for="assignmentName">Assignment Name</label>\
					<div class="input-group">\
		       			<input id="assignmentName" class="form-control" type="text" name="assignmentName" placeholder="Assignment Name" value="' + assignmentName + '">\
					</div>\
	       		</div>\
	       	</div>\
	       	<div class="row">\
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">\
					<label for="assignmentWeightInput">Assignment Weight</label>\
					<div class="input-group">\
						<input class="assignmentWeightInput form-control" type="text" Placeholder="Assignment Weight" for-assignment="' + assignmentName + '" for-class="' + className + '" value="' + assignmentWeight + '">\
						<span class="input-group-addon">%</span>\
					</div>\
				</div>\
			</div>\
			<div class="row">\
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">\
					<label for="gradeGivenInput">Percentage Given</label>\
					<div class="input-group">\
						<input class="gradeGivenInput form-control" type="text" Placeholder="Percentage Given" for-assignment="' + assignmentName + '" for-class="' + className + '" value="' + assignmentPercentage + '">\
						<span class="input-group-addon">%</span>\
					</div>\
				</div>\
			</div>\
	      </div>\
	      <div class="modal-footer">\
	       	 <a class="btn btn-success editAssignmentSubmit" for-assignment="' + assignmentName + '">Edit Assignment</a>\
	       	 <a class="btn btn-danger" data-dismiss="modal" aria-label="Close">Back</a>\
	      </div>\
	    </div>\
	  </div>\
	</div>');
				console.log(data.currentGrade);
				if(data.currentGrade) {
					if($('#no-assignments').length > 0) {
						$('#no-assignments').replaceWith('<span id="current-grade">Current grade:' + data.currentGrade + ' %</span>')
					} else {
						$('#current-grade').text(data.currentGrade);
					}
				}	
	   			$('#addAssignmentForm').get(0).reset();
	   			$('#addAssignmentModal').modal('hide');
				updateButtons();
	   			} //end if(data)
	   			location.reload();

	   		}); //end $.post()

			} else if(data.err) {
				$('.addassignmentalert-box').prepend('<div class="alert alert-warning alert-dismissible" role="alert">\
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
		      ' + data.err + '\
		      </div>');
			}
		});
	});

	$('#desiredPercentageInput').bind('enterKey', function(e) {
		var desiredGrade = $(this).val();
		var assignmentPercentages = [];
	   var assignmentWeights = [];

	   for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
	   	assignmentWeights.push($('.assignmentWeightInput')[i].value);
	   }

	   for(var i = 0; i < $('.gradeGivenInput').length; i++) {
		assignmentPercentages.push($('.gradeGivenInput')[i].value);
	   }

		$.post('/updateDesiredGrade', { desiredGrade : desiredGrade, className : $('#className').text() }, function(data) {
			if(data.ok) {
				console.log('update desired grade');
				$.post('/updateAssignmentGoal', { className : $('#className').text(), assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {

					var grades = $('.grade');
					var goals = $('.goal');

					for(var i = 0; i < grades.length; i++) {
						if($(grades[i]).text() === '') {
							$(goals[i]).empty();
							$(goals[i]).append('<span>' + data.goal + '</span>')
						}
					}

					location.reload();
				});
			} else {
				$('.main-alert-box').prepend('<div class="alert alert-warning alert-dismissible" role="alert">\
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
		      ' + data.err + '\
		      </div>');
				$('#desiredPercentageInput').val(originalDesiredGrade);
			}
		});
	});

	// $('.assignmentWeightInput').bind('enterKey', function(e) {
	// 	var desiredGrade = $('#desiredPercentageInput').val();
	// 	var assignment = $(this).attr('for-assignment');
	// 	var className = $(this).attr('for-class');
	// 	var weight = $(this).val();
	// 	var assignmentPercentages = [];
	//     var assignmentWeights = [];

	//     for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
	//    		assignmentWeights.push($('.assignmentWeightInput')[i].value);
	//     }

	//     for(var i = 0; i < $('.gradeGivenInput').length; i++) {
	// 		assignmentPercentages.push($('.gradeGivenInput')[i].value);
	//     }

	// 	$.post('/updateAssignmentWeight', { assignmentName : assignment, className : className, weight : weight }, function(data) {
	// 		if(data.ok) {
	// 			$.post('/updateAssignmentGoal', { className : className, assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {
	// 				console.log(data);

	// 			});
	// 		} else if(data.err) {
	// 			$('.alert-box').prepend('<div class="alert alert-warning alert-dismissible" role="alert">\
	// 	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
	// 	      ' + data.err + '\
	// 	      </div>');
	// 			$('#').modal('hide');
	// 		}
	// 	});
	// });

	$('#assignmentPercentageInput').bind('enterKey', function(e) {
		$('#addAssignmentSubmit').trigger('click');
	});
</script>	
