<!doctype html>
<div class="row" id="title">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<span class="title" id="className">{{className}}</span>
	</div>
</div>


<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Overview</div>
			<div class="panel-body">
				{{#if currentGrade}}
					<span>Current grade: {{currentGrade}} %</span>
				{{else}}
					<span class="no-assignments">Add assignments below to calculate your grade.</span>
				{{/if}}
			</div>
			<div class="panel-body">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					Desired Percentage <input id="desiredPercentageInput" type="text" name="desiredPercentage" value="{{desiredGrade}}">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Assignments</div>
			
			<div class="panel-body">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<u><span>Name</span></u>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<u><span>Weight(%)</span></u>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<u><span>Actual(%)</span></u>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<u><span>Goal(%)</span></u>
				</div>
			</div>

			{{#if assignments}}
			{{#each assignments}}
			<div class="panel-body">
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<span>{{assignment}}</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<span>{{weight}}</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<span>{{percentage}}</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					{{#if percentage}}
						<span>Completed</span>
					{{else}}
					<span>{{../../assignmentPercentage}}</span>
					{{/if}}
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<a data-toggle="modal" data-target="#editAssignmentModal" class="btn btn-info btn-block btn-spaced">Edit</a>
				</div>
			</div>
			{{/each}}
			{{/if}}
		</div>
	</div>
</div>

<!--
<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
	{{#if currentGrade}}
		<span>Your current grade is {{currentGrade}}</span>
	{{else}}
		<span>Add assignments below to calculate your grade.</span>
	{{/if}}
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-xs-4">
		Desired Percentage {{assignmentPercentage}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<input id="desiredPercentageInput" type="text" name="desiredPercentage" value="{{desiredGrade}}">
	</div>
</div>
-->

<div class="row">
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
		{{#if assignments}}
		{{#each assignments}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs 12">
				<div class="panel panel-primary">
					<div class="panel-heading">{{assignment}}</div>
					<div class="panel-body">
						<span class="desiredGrade">Your goal for this assignment is {{../assignmentPercentage}}</span>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<label for="assignmentWeightInput">Assignment Weight</label>
							<div class="input-group">
								<input class="assignmentWeightInput form-control" type="text" Placeholder="Assignment Weight" for-assignment="{{assignment}}" for-class="{{className}}" value="{{weight}}">
								<span class="input-group-addon">%</span>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<label for="gradeGivenInput">Percentage Given</label>
							<div class="input-group">
								<input class="gradeGivenInput form-control" type="text" Placeholder="Percentage Given" for-assignment="{{assignment}}" for-class="{{className}}" value="{{percentage}}">
								<span class="input-group-addon">%</span>
							</div>	
						</div>
					</div>
					<a class="btn btn-danger deleteAssignmentButton" data-toggle="modal" data-target="#deleteAssignmentModal" for-assignment="{{assignment}}" for-class="{{className}}">Delete</a>
				</div>
			</div>
		</div>
		{{/each}}
		{{/if}}
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<a data-toggle="modal" data-target="#addAssignmentModal" class="btn btn-info btn-block btn-spaced">Add an Assignment</a>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssignment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssignment">Delete Assignment</h4>
      </div>
      <div class="modal-body">
       	Are you sure you want to delete this assignment? It cannot be undone.
      </div>
      <div class="modal-footer">
        <a id="confirmDeleteAssignmentButton" class="btn btn-success">Yes, Delete</a>
        <a class="btn btn-danger" data-dismiss="modal" aria-label="Close">Back</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="addAssignment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssignment">Add Assignment</h4>
      </div>
      <div class="modal-body">
       	<form id="addAssignmentForm">
			<div class="input-group">
				<label for="assignmentName">Assignment Name</label>
       			<input id="assignmentName" class="form-control" type="text" name="assignmentName" placeholder="Assignment Name">
			</div>
				<label for="assignmentWeight">Assignment Weight</label>
			<div class="input-group">
   				<input id="assignmentWeight" class="form-control" type="text" name="assignmentWeight" placeholder="Assignment Weight">	
				<span class="input-group-addon">%</span>
			</div>
				<label for="assignmentPercentage">Percentage Given (Optional)</label>
			<div class="input-group">
				<input id="assignmentPercentage" class="form-control" type="text" name="assignmentPercentage" placeholder="Percentage Given">
				<span class="input-group-addon">%</span>
			</div>
       	</form>
      </div>
      <div class="modal-footer">
       	 <a class="btn btn-success" id="addAssignmentSubmit">Add Assignment</a>
       	 <a class="btn btn-danger" data-dismiss="modal" aria-label="Close">Back</a>
      </div>
    </div>
  </div>
</div>

{{#if assignments}}
{{#each assignments}}
<div class="modal fade" id="editAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="editAssignment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editAssignment">Edit Assignment</h4>
      </div>
      <div class="modal-body">
       	<form id="addAssignmentForm">
       		<label for="assignmentName">Assignment Name</label>
			<div class="input-group">
       			<input id="assignmentName" class="form-control" type="text" name="assignmentName" placeholder="Assignment Name">
			</div>
       	</form>
       	<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<label for="assignmentWeightInput">Assignment Weight</label>
				<div class="input-group">
					<input class="assignmentWeightInput form-control" type="text" Placeholder="Assignment Weight" for-assignment="{{assignment}}" for-class="{{className}}" value="{{weight}}">
					<span class="input-group-addon">%</span>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<label for="gradeGivenInput">Percentage Given</label>
				<div class="input-group">
					<input class="gradeGivenInput form-control" type="text" Placeholder="Percentage Given" for-assignment="{{assignment}}" for-class="{{className}}" value="{{percentage}}">
					<span class="input-group-addon">%</span>
				</div>	
			</div>
		</div>
		<a class="btn btn-danger deleteAssignmentButton" data-toggle="modal" data-target="#deleteAssignmentModal" for-assignment="{{assignment}}" for-class="{{className}}">Delete</a>
      </div>
      <div class="modal-footer">
       	 <a class="btn btn-success" id="addAssignmentSubmit">Add Assignment</a>
       	 <a class="btn btn-danger" data-dismiss="modal" aria-label="Close">Back</a>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{/if}}

<script>

	var assignmentToBeDeleted;
	var forClass;

	$('.deleteAssignmentButton').click(function(event) {
		assignmentToBeDeleted = $(this).attr('for-assignment');
		forClass = $(this).attr('for-class');
	});

	$('#confirmDeleteAssignmentButton').click(function(event) {
		$.post('/deleteAssignment', { assignmentName : assignmentToBeDeleted, className : forClass }, function(data) {
			if(data.ok) {
				$('a.close-reveal-modal').trigger('click');
				console.log($('tr[for-assignment="' + assignmentToBeDeleted + '"]'));
				$('tr[for-assignment="' + assignmentToBeDeleted + '"]').remove();
			}
		});
	})

	$('#addAssignmentSubmit').click(function(event) {
		event.preventDefault();
		var assignmentFields = [];
		var $input = $('#addAssignmentForm').find(':input').each(function() {
			assignmentFields.push($(this).val());
		});
		var assignmentName = assignmentFields[0];
		var assignmentWeight = assignmentFields[1];
		var assignmentPercentage = assignmentFields[2];
		var className = $('#className').text();

		$.post('/addAssignment', { className : $('#className').text(),
								   assignmentName : assignmentFields[0],
								   assignmentWeight : assignmentFields[1],
								   assignmentPercentage : assignmentFields[2] }, function(data) {
			if(data.ok) {
				console.log(data);
				$('tbody').append('<tr for-assignment="' + assignmentName + '">\
		      	<td>\
		      		<span class="assignmentName">\
		      			' + assignmentName + '\
		      		</span>\
		      	</td>\
		      	<td>\
		      		<input type="checkbox" name="extraCredit">\
		      	</td>\
		      	<td>\
		      		<span class="assignmentWeight">\
		      			<input class="assignmentWeightInput" type="text" Placeholder="Assignment Weight" for-assignment="' + assignmentName + '" for-class="' + className + '" value="' + assignmentWeight + '">\
		      		</span>\
		      	</td>\
		      	<td>\
		      		<input class="gradeGivenInput" type="text" Placeholder="Grade given" for-assignment="' + assignmentName + '" for-class="' + className + '" value="' + assignmentPercentage + '">\
		      	</td>\
		      	<td>\
		      		stub\
		      	</td>\
		      	<td>\
		      		<a class="button alert radius deleteAssignmentButton" data-reveal-id="deleteAssignmentModal" for-assignment="' + assignmentName + '" for-class="' + className + '">Delete</a>\
		      	</td>\
		      </tr>')
				$('a.close-reveal-modal').trigger('click');
			} else {
				console.log('awww :(');
			}
		});
	});

	$('.gradeGivenInput').bind("enterKey", function(e) {
	   var percentage = $(this).val();
	   var assignment = $(this).attr('for-assignment');
	   var className = $(this).attr('for-class');
	   var textbox = $(this);
	   var desiredGrade = $('#desiredPercentageInput').val();
	   var assignmentPercentages = [];
	   var assignmentWeights = [];

	   for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
	   	assignmentWeights.push($('.assignmentWeightInput')[i].value);
	   }

	   for(var i = 0; i < $('.gradeGivenInput').length; i++) {
		assignmentPercentages.push($('.gradeGivenInput')[i].value);
	   }

	   console.log(assignmentPercentages, assignmentWeights);
	   $.post('/updateAssignmentPercentage', { className : className, assignmentPercentage: percentage, assignmentName : assignment}, function(data) {
	   	if(data.ok) {
	   		console.log('uhhhh');
	   		textbox.val(percentage);
	   		$.post('/updateAssignmentGoal', { className : className, assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {
	   			console.log(data);

	   		});
	   	}
	   });
	});

	$('#desiredPercentageInput').bind('enterKey', function(e) {
		var desiredGrade = $(this).val();
		var assignmentPercentages = [];
	   var assignmentWeights = [];

	   for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
	   	assignmentWeights.push($('.assignmentWeightInput')[i].value);
	   }

	   for(var i = 0; i < $('.gradeGivenInput').length; i++) {
		assignmentPercentages.push($('.gradeGivenInput')[i].value);
	   }

		$.post('/updateDesiredGrade', { desiredGrade : desiredGrade, className : $('#className').text() }, function(data) {
			if(data.ok) {
				$.post('/updateAssignmentGoal', { className : className, assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {
					console.log(data);

				});
			}
		});
	});

	$('.assignmentWeightInput').bind('enterKey', function(e) {
		var desiredGrade = $('#desiredPercentageInput').val();
		var assignment = $(this).attr('for-assignment');
		var className = $(this).attr('for-class');
		var weight = $(this).val();
		var assignmentPercentages = [];
	    var assignmentWeights = [];

	    for(var i = 0; i < $('.assignmentWeightInput').length; i++) {
	   		assignmentWeights.push($('.assignmentWeightInput')[i].value);
	    }

	    for(var i = 0; i < $('.gradeGivenInput').length; i++) {
			assignmentPercentages.push($('.gradeGivenInput')[i].value);
	    }

		$.post('/updateAssignmentWeight', { assignmentName : assignment, className : className, weight : weight }, function(data) {
			if(data.ok) {
				$.post('/updateAssignmentGoal', { className : className, assignmentPercentages : assignmentPercentages, assignmentWeights : assignmentWeights, desiredGrade : desiredGrade }, function(data) {
					console.log(data);

				});
			}
		});
	});

	$('.gradeGivenInput, #desiredPercentageInput, .assignmentWeightInput').keyup(function(e){
	    if(e.keyCode == 13)
	    {
	        $(this).trigger("enterKey");
	    }
	});
</script>	
